In [1]:
# Import libraries
from sklearn import neighbors, model_selection
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

In [2]:
# Load data
column_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']
car_data = pd.read_csv('car.data', names=column_names)
car_data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [5]:
# Convert categorical data to numeric
categorical_columns = ['buying', 'maint', 'lug_boot', 'safety']

for ind, column in enumerate(categorical_columns):
    column_map = [(item, ind) for ind, item in enumerate(car_data[column].unique())]
    car_data[column] = car_data[column].apply(dict(column_map).get)
car_data.head()

   buying  maint doors persons  lug_boot  safety  class
0       0      0     2       2         0       0  unacc
1       0      0     2       2         0       1  unacc
2       0      0     2       2         0       2  unacc
3       0      0     2       2         1       0  unacc
4       0      0     2       2         1       1  unacc